.faction-description {
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin: auto;
}

.legendary-lord-buttons {
    justify-content: center;
    position: absolute;
    top: 60%;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin: auto;
}

.preview-factions-buttons {
    justify-content: center;
    position: absolute;
    top: 75%;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin: auto;
}

.preview-fraction-text {
    text-shadow: 2px 2px #000000d6
}

.button-text {
    font-family: "Warhammer", serif !important;
}